/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require flipclock
 *= require video-js
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("cyan", "lighten-1") !default;

//@import "materialize/components/grid";
@import 'materialize';
//@import "materialize/extras/nouislider";
.container {
  margin: 0 auto;
  max-width: none;
  //max-width: 1280px;
  width: 90%;
}
@media #{$medium-and-up} {
  .container {
    width: 85%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 90%;//70%;
  }
}

$mega-size: 15rem;
.mega {
  height: $mega-size;
  width: $mega-size;
  line-height: $mega-size;

  i {
    font-size: $mega-size;
    line-height: $mega-size;
  }

}

$zoom: 3;
.timer-clock {
   zoom: $zoom;
   -moz-transform: scale($zoom)
}

.flip-clock-wrapper {
  margin: 0 auto;
  max-width: 920px;//460px;
  margin-top: 2em;

  .flip-clock-label {
    display: none;
  }
}

.center {
  margin: 0 auto;
}

.actions-block {
  a {
    margin: 5em;
  }
}

.card.mega-card {
  height: 90%;
}

.guide-description {
  margin-top: 2em;
}

.left-side-menu {
  background-color: #26c6da;
}
.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

