/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require flipclock
 *= require video-js
 *= require material_icons
 *= require_tree .
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("cyan", "lighten-1") !default;

//@import "materialize/components/grid";
@import 'materialize';
//@import "materialize/extras/nouislider";
.container {
  margin: 0 auto;
  max-width: none;
  //max-width: 1280px;
  width: 90%;
}
@media #{$medium-and-up} {
  .container {
    width: 85%;
  }
}
@media #{$large-and-up} {
  .container {
    width: 90%;//70%;
  }
}

$mega-size: 100px;
.mega {
  height: $mega-size;
  width: $mega-size;
  line-height: $mega-size;

  i {
    font-size: $mega-size;
    line-height: $mega-size;
  }
}

$mega-size: 200px;
.mega-mega {
  height: $mega-size;
  width: $mega-size;
  line-height: $mega-size;

  i {
    font-size: $mega-size;
    line-height: $mega-size;
  }
}

$zoom: 2.5;
.timer-clock {
   zoom: $zoom;
   -moz-transform: scale($zoom)
}

.flip-clock-wrapper {
  margin: 0 auto;
  max-width: 750px;//460px;
  //margin-top: 2em;

  .flip-clock-label {
    display: none;
  }
}

.center {
  margin: 0 auto;
}

.actions-block {
  a {
    margin-left: 3em;
  }
}

.card.mega-card {
  height: 90%;
}

.guide-description {
  margin-top: 2em;
}

.left-side-menu {
  background-color: #26c6da;
}
.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

#fade-wrapper {
  display: none;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.pause {
  color: #fff;
  background-color: #26c6da;
  text-align: center;
  margin: auto auto;
}

.fixed {
  position: fixed;
  bottom: 0;
  z-index: 999;
  width: 100%;
}

.promo-icon {
  width: 2em;
}

.image-parent {
  position: relative;
  overflow: hidden;
}

.guide-image {
  max-height: 600px;
  position: absolute;
  margin: 0 auto;
}

.left-side-bar-list {
  .card-panel {
    //padding: 1px;
  }

  a {
    color: #fff;
    font-weight: bold;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 36px;
  }

}

a.brand-logo {
  font-size: 30px;
  font-weight: bold;
}

a#logo-container {
  display: block;
  margin: 5px auto;
  text-align: center;
}

html {
  color: #000; // fix for smart TVs
}

.flow-text.card-desc {
  color: #000 !important;
  font-size: 20px;

  p {
    color: #000 !important;
    font-size: 20px;
  }

  a {
    font-size: 20px;
    color: #000 !important;
  }

}


.card .card-content p {
  color: #000;
  font-size: 20px;
}

.card .card-image .card-title {
  font-size: 32px;
  font-weight: bold;
}

main {
  position: relative;
  h1 {
    margin-top: 0;
  }
}

.step-content {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 50;
}

.step-up {
  position: relative;
  z-index: 100;
  top: 0;
}

.step-down {
  position: relative;
  z-index: 100;
}

.step-static {
  position: relative;
  z-index: 100;
  top: 0;
  padding: 5px 5%;

  h1, h2, h3, p {
    color: #fff !important;
    font-weight: bold;
  }
}

.step-name {
  padding-top: 40px;
  color: #fff;
  font-weight: bold;
}

.play-container {
  background-color: #26c6da;
}

//$img-size: 300px;
//.step-content.center {
//  .step-image-wrapper {
//    position: relative;
//    overflow: hidden;
//    width: 100%;
//    height: $img-size;
//
//  }
//
//  .content-image {
//    max-height: $img-size;
//  }
//
//  .step-video {
//    width: auto;
//    height: $img-size;
//  }
//}
//
//
